.amii{
    background : url('../../images/111.jpg') center no-repeat fixed ;
    background-size: cover;
    min-height: 100vh;
    // background: red
}

form{
    // border: 1px solid grey;
    // border-radius: 0px 30px;
    width: 50%
}

body html{
    background: rgb(223,226,235)
}
.no-cart{
    font-size: 400px;
    text-align: center;
    margin: auto;
}

.pp{
    text-align: center;
    font-size: 40px;
    // color: rgb(223,226,235)
}
